  .container {
    border: 3px solid black;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 450px;
    padding-left: 20px;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin: auto;
  }
  
  .button {
    height: 60px;
    padding: 5px;
    width: 75px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
}
  
  .button:hover {
    background-color: #eaeaea;
  }
  
  .operator {
    color: black;
    background-color: #eebb24;
    font-size: 30px;
  }
  
  .equal-sign {
    background-color: #25a8e0;
    border-color: #25a8e0;
    color: black;
    width: 100%;
  }
  
  .equal-sign:hover {
    background-color: #4e9ed4;
  }
  
  .screen {
    background-color: rgb(171, 219, 231);
    justify-content: right;
    color: black;
    font-size: medium;
    width: 90%;
    height: 25px;
    cursor: default;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
}
  
  input.operator {
    height: 60px;
    width: 75px;
}

input#ce-button {
  height: 60px;
  width: 75px;
  background-color: deepskyblue;
  border-radius: 5px;
  color: black;
}

input#ce-button:hover {
  background-color: #4e9ed4;
  color: black;
}

input#clear-button {
  height: 60px;
  width: 75px;
  background-color: deepskyblue;
  color: black;
}

input#clear-button:hover {
  background-color: #4e9ed4;
  color: black;
}

