@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Merienda:wght@300&family=Satisfy&display=swap');
button {
    height: 30px;
    width: 100px;
    border: solid 1px black;
    border-radius: 2px;
}
.title {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: 600;
    color: cornflowerblue;
    font-family: 'Merienda', cursive;
    margin: 2% 0px;
}
.dropdown {
    display: flex;
    justify-content: center;
    gap: 9.3%;
    margin: 2% 0px;
}
.square {
    height: 100px;
    width: 100px;
    background-color: #555;
}
.colors {
    display: flex;
    gap: 1%;
    justify-content: center;
    margin: 2% 0px;
}
button#colorRed {
    background-color: red;
}
button#colorYellow {
    background-color: yellow;
}
button#colorGreen {
    background-color: green;
}
button#colorBlue {
    background-color: blue;
}
.shapes {
    display: flex;
    justify-content: center;
    gap: 1%;
}
.colorRed{
    background-color: red;
}
.colorYellow{
    background-color: yellow;
}
.colorGreen{
    background-color: green;
}
.colorBlue{
    background-color: blue;
}
.shapeSquare{
    height: 100px;
    width: 100px;
}
.shapeCircle{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.shapeRectangle{
    height: 100px;
    width: 200px;
}
.shapeOval{
    height: 100px;
    width: 230px;
    border-radius: 50%;
}